<div>
  <nav class="navbar">
    <div class="logo"><%= link_to "TravelBuddy", root_path %></div>
      <ul class="nav-links">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Travel Book",  travel_book_path %></li>
          <li><%= link_to "Chats", "#", class: "nav-link", data: { action: "click->toggle#call" } %></li>
          <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
  </nav>
</div>
