<div class="banner d-flex justify-content-center align-items-center text-center"
     style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
             url('https://static.independent.co.uk/2024/01/05/15/newFile-6.jpg');
            background-size: cover;
            background-position: center;
            height: 450px;">
  <div class="container">

    <h4 class="text-white fw-bold mb-4">
      Find activities for your trip!
    </h4>

    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-5">

        <%= simple_form_for Chat.new do |f| %>
          <%= f.input :city,
                collection: ["Barcelona", "New York", "Tokyo"],
                prompt: "Select a city",
                label: false %>

          <%= f.input :season,
                collection: ["Winter", "Spring", "Summer", "Fall"],
                prompt: "Select a season",
                label: false %>

          <%= f.input :category,
                collection: [
                  "Experiences & Activities",
                  "Culture & Entertainment",
                  "Family-Friendly",
                  "Nightlife & Social",
                  "Instagrammable Spots"
                ],
                prompt: "Select a category",
                label: false %>

          <div class="text-center mt-3">
            <%= f.submit "Search", class: "btn btn-light" %>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if current_user.chats.any? %>
        <ul>
          <% current_user.chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>
