<div class="container" style="margin-top:5rem;">
  <h1>My E-Travelbook</h1>
  <p>Destinations by category and time of year</p>

  <div class="cards">
    <% current_user.travel_books.each do |travelbook| %>
      <div class="card-activity">
        <h4><%= travelbook.activity.city %></h4>
        <p>in <%= travelbook.activity.season %></p>
        <p><%= travelbook.activity.category %> – <%= travelbook.activity.content %></p>

        <%= link_to "Delete", travel_book_path(travelbook),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div>
