<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Travel Buddy" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="padding-top:20px;">

    <div class="" data-controller="toggle">
      <%= render "shared/navbar"%>
      <div class="d-flex vh-100">
        <div class="flex-grow-1">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>

        <nav class="sidebar pt-3" data-toggle-target="hideable" style="width: 250px">
          <%= render "shared/sidenav" %>
        </nav>

      </div>
    </div>
  </body>
</html>
